/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { 
	margin: 0; 
	padding: 0; 
}
body { 
	background: #999; 
}

#page-wrap { 
	width: 760px; 
	margin: 80px auto; 
	background: white;
	padding: 50px;
	border: 50px solid #888; 
}

h1, h2 {
	font: bold 50px Sans-Serif;
	letter-spacing: -2px;
}
h2 {
	font-size: 34px;
	margin-bottom: 10px;
	margin-top: 40px;
}
input {
	font: 12px "Lucida Grande", Sans-Serif;
}
.datalist {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	max-height: 300px;
	overflow-y: auto;
}
.datalist:empty {
	display: none !important;
}
.datalist li {
	padding: 3px;
	font: 12px "Lucida Grande", Sans-Serif;
}
.datalist li:hover {
	background: #3875d7;
	color: white;
}